## 2. Data Transformation

#### Write code to transform variables according to the following guidelines:

#### a) school, sex, address, famsize, Pstatus, schoolsup, famsup, paid, activities, nursery, higher, internet and romantic into binary; 0 or 1 (create new columns without overwriting the existing ones)

In [100]:
import pandas as pd
import numpy as np

In [101]:
data = pd.read_csv('student.csv')
data.head(3)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,higher education,higher education,at_home,teacher,...,very good,medium,high,very low,very low,good,6,5,6,6
1,GP,F,17,U,GT3,T,primary education (4th grade),primary education (4th grade),at_home,other,...,excellent,medium,medium,very low,very low,good,4,5,5,6
2,GP,F,15,U,LE3,T,primary education (4th grade),primary education (4th grade),at_home,other,...,very good,medium,low,low,medium,good,10,7,8,10

- school

In [102]:
data['school_binary'] = data['school'].apply(lambda x : 0 if x =='GP' else 1 )
data['school_binary']

0      0
1      0
2      0
3      0
4      0
      ..
390    1
391    1
392    1
393    1
394    1
Name: school_binary, Length: 395, dtype: int64

- sex

In [103]:
data['sex_binary'] = data['sex'].apply(lambda x : 0 if x =='F' else 1 )
data['sex_binary']

0      0
1      0
2      0
3      0
4      0
      ..
390    1
391    1
392    1
393    1
394    1
Name: sex_binary, Length: 395, dtype: int64

- address

In [104]:
data['address_binary'] = data['address'].apply(lambda x : 0 if x =='U' else 1 )
data['address_binary']

0      0
1      0
2      0
3      0
4      0
      ..
390    0
391    0
392    1
393    1
394    0
Name: address_binary, Length: 395, dtype: int64

- famsize

In [105]:
data['famsize_binary'] = data['famsize'].apply(lambda x : 0 if x =='GT3' else 1 )
data['famsize_binary']

0      0
1      0
2      1
3      0
4      0
      ..
390    1
391    1
392    0
393    1
394    1
Name: famsize_binary, Length: 395, dtype: int64

- Pstatus

In [106]:
data['Pstatus_binary'] = data['Pstatus'].apply(lambda x : 0 if x =='T' else 1 )
data['Pstatus_binary']

0      1
1      0
2      0
3      0
4      0
      ..
390    1
391    0
392    0
393    0
394    0
Name: Pstatus_binary, Length: 395, dtype: int64

- schoolsup

In [107]:
data['schoolsup_binary'] = data['schoolsup'].apply(lambda x : 0 if x =='yes' else 1 )
data['schoolsup_binary']

0      0
1      1
2      0
3      1
4      1
      ..
390    1
391    1
392    1
393    1
394    1
Name: schoolsup_binary, Length: 395, dtype: int64

- famsup

In [108]:
data['famsup_binary'] = data['famsup'].apply(lambda x : 0 if x =='yes' else 1 )
data['famsup_binary']

0      1
1      0
2      1
3      0
4      0
      ..
390    0
391    1
392    1
393    1
394    1
Name: famsup_binary, Length: 395, dtype: int64

- paid

In [109]:
data['paid_binary'] = data['paid'].apply(lambda x : 0 if x =='yes' else 1 )
data['paid_binary']

0      1
1      1
2      0
3      0
4      0
      ..
390    0
391    1
392    1
393    1
394    1
Name: paid_binary, Length: 395, dtype: int64

- activities

In [110]:
data['activities_binary'] = data['activities'].apply(lambda x : 0 if x =='yes' else 1 )
data['activities_binary']

0      1
1      1
2      1
3      0
4      1
      ..
390    1
391    1
392    1
393    1
394    1
Name: activities_binary, Length: 395, dtype: int64

- nursery

In [111]:
data['nursery_binary'] = data['nursery'].apply(lambda x : 0 if x =='yes' else 1 )
data['nursery_binary']

0      0
1      1
2      0
3      0
4      0
      ..
390    0
391    1
392    1
393    1
394    0
Name: nursery_binary, Length: 395, dtype: int64

- higher

In [112]:
data['higher_binary'] = data['higher'].apply(lambda x : 0 if x =='yes' else 1 )
data['higher_binary']

0      0
1      0
2      0
3      0
4      0
      ..
390    0
391    0
392    0
393    0
394    0
Name: higher_binary, Length: 395, dtype: int64

- internet

In [113]:
data['internet_binary'] = data['internet'].apply(lambda x : 0 if x =='yes' else 1 )
data['internet_binary']

0      1
1      0
2      0
3      0
4      1
      ..
390    1
391    0
392    1
393    0
394    0
Name: internet_binary, Length: 395, dtype: int64

- romantic

In [114]:
data['romantic_binary'] = data['romantic'].apply(lambda x : 0 if x =='yes' else 1 )
data['romantic_binary']

0      1
1      1
2      1
3      0
4      1
      ..
390    1
391    1
392    1
393    1
394    1
Name: romantic_binary, Length: 395, dtype: int64

## b) Medu, Fedu, Mjob, Fjob, reason, guardian, traveltime, studytime, famrel, freetime, gout, Dalc, Walc and health into ordinal numbers based on number of cases in the data set (create new columns without overwriting the existing ones)

- Medu

In [115]:
'''find unique values of Medu and create a series to assign ordinal numbers to those unique values'''
unique_medu_val = data['Medu'].unique()
unique_series = pd.Series(np.arange(1,(len(unique_medu_val) + 1)),index = unique_medu_val)
unique_series

higher education                 1
primary education (4th grade)    2
secondary education              3
5th to 9th grade                 4
none                             5
dtype: int64

In [116]:
data['medu_ordinal'] = data['Medu'].apply(lambda x : unique_series[x])
data['medu_ordinal']

0      1
1      2
2      2
3      1
4      3
      ..
390    4
391    3
392    2
393    3
394    2
Name: medu_ordinal, Length: 395, dtype: int64

- Fedu

In [117]:
unique_fedu_val = data['Fedu'].unique()
unique_series = pd.Series(np.arange(1,(len(unique_medu_val) + 1)),index = unique_fedu_val)
unique_series

higher education                 1
primary education (4th grade)    2
5th to 9th grade                 3
secondary education              4
none                             5
dtype: int64

In [118]:

data['fedu_ordinal'] = data['Fedu'].apply(lambda x : unique_series[x])
data['fedu_ordinal']

0      1
1      2
2      2
3      3
4      4
      ..
390    3
391    2
392    2
393    3
394    2
Name: fedu_ordinal, Length: 395, dtype: int64

- Mjob

In [119]:
unique_mjob_val = data['Mjob'].unique()
unique_series = pd.Series(np.arange(1,(len(unique_mjob_val) + 1)),index = unique_mjob_val)
unique_series

at_home     1
health      2
other       3
services    4
teacher     5
dtype: int64

In [120]:
data['Mjob_ordinal'] = data['Mjob'].apply(lambda x : unique_series[x])
data['Mjob_ordinal']

0      1
1      1
2      1
3      2
4      3
      ..
390    4
391    4
392    3
393    4
394    3
Name: Mjob_ordinal, Length: 395, dtype: int64

- Fjob

In [121]:
unique_Fjob_val = data['Fjob'].unique()
unique_series = pd.Series(np.arange(1,(len(unique_Fjob_val) + 1)),index = unique_Fjob_val)
unique_series

teacher     1
other       2
services    3
health      4
at_home     5
dtype: int64

In [122]:
data['Fjob_ordinal'] = data['Fjob'].apply(lambda x : unique_series[x])
data['Fjob_ordinal']

0      1
1      2
2      2
3      3
4      2
      ..
390    3
391    3
392    2
393    2
394    5
Name: Fjob_ordinal, Length: 395, dtype: int64

- reason

In [123]:
unique_reason_val = data['reason'].unique()
unique_series = pd.Series(np.arange(1,(len(unique_reason_val) + 1)),index = unique_reason_val)
unique_series

course        1
other         2
home          3
reputation    4
dtype: int64

In [124]:
data['reason_ordinal'] = data['reason'].apply(lambda x : unique_series[x])
data['reason_ordinal']

0      1
1      1
2      2
3      3
4      3
      ..
390    1
391    1
392    1
393    1
394    1
Name: reason_ordinal, Length: 395, dtype: int64

- guardian

In [125]:
unique_guardian_val = data['guardian'].unique()
unique_series = pd.Series(np.arange(1,(len(unique_guardian_val) + 1)),index = unique_guardian_val)
unique_series

mother    1
father    2
other     3
dtype: int64

In [126]:
data['guardian_ordinal'] = data['guardian'].apply(lambda x : unique_series[x])
data['guardian_ordinal']

0      1
1      2
2      1
3      1
4      2
      ..
390    3
391    1
392    3
393    1
394    2
Name: guardian_ordinal, Length: 395, dtype: int64

- studytime

In [127]:
unique_studytime_val = data['studytime'].unique()
unique_series = pd.Series(np.arange(1,(len(unique_studytime_val) + 1)),index = unique_studytime_val)
unique_series

2 to 5 hours     1
5 to 10 hours    2
<2 hours         3
>10 hours        4
dtype: int64

In [128]:
data['studytime_ordinal'] = data['studytime'].apply(lambda x : unique_series[x])
data['studytime_ordinal']

0      1
1      1
2      1
3      2
4      1
      ..
390    1
391    3
392    3
393    3
394    3
Name: studytime_ordinal, Length: 395, dtype: int64

- traveltime

In [129]:
unique_traveltime_val = data['traveltime'].unique()
unique_series = pd.Series(np.arange(1,(len(unique_traveltime_val) + 1)),index = unique_traveltime_val)
unique_series

15 to 30 min.        1
<15 min.             2
30 min. to 1 hour    3
>1 hour              4
dtype: int64

In [130]:
data['traveltime_ordinal'] = data['traveltime'].apply(lambda x : unique_series[x])
data['traveltime_ordinal']

0      1
1      2
2      2
3      2
4      2
      ..
390    2
391    1
392    2
393    3
394    2
Name: traveltime_ordinal, Length: 395, dtype: int64

- famrel

In [131]:
unique_famrel_val = data['famrel'].unique()
unique_series = pd.Series(np.arange(1,(len(unique_famrel_val) + 1)),index = unique_famrel_val)
unique_series

very good    1
excellent    2
good         3
very bad     4
bad          5
dtype: int64

In [132]:
data['famrel_ordinal'] = data['famrel'].apply(lambda x : unique_series[x])
data['famrel_ordinal']

0      1
1      2
2      1
3      3
4      1
      ..
390    2
391    5
392    2
393    1
394    3
Name: famrel_ordinal, Length: 395, dtype: int64

- freetime

In [133]:
unique_freetime_val = data['freetime'].unique()
unique_series = pd.Series(np.arange(1,(len(unique_freetime_val) + 1)),index = unique_freetime_val)
unique_series

medium       1
low          2
high         3
very low     4
very high    5
dtype: int64

In [134]:
data['freetime_ordinal'] = data['freetime'].apply(lambda x : unique_series[x])
data['freetime_ordinal']

0      1
1      1
2      1
3      2
4      1
      ..
390    5
391    3
392    5
393    3
394    2
Name: freetime_ordinal, Length: 395, dtype: int64

- gout

In [135]:
unique_goout_val = data['goout'].unique()
unique_series = pd.Series(np.arange(1,(len(unique_goout_val) + 1)),index = unique_goout_val)
unique_series

high         1
medium       2
low          3
very low     4
very high    5
dtype: int64

In [136]:
data['goout_ordinal'] = data['goout'].apply(lambda x : unique_series[x])
data['goout_ordinal']

0      1
1      2
2      3
3      3
4      3
      ..
390    1
391    5
392    2
393    4
394    2
Name: goout_ordinal, Length: 395, dtype: int64

- Dalc

In [137]:
unique_Dalc_val = data['Dalc'].unique()
unique_series = pd.Series(np.arange(1,(len(unique_Dalc_val) + 1)),index = unique_Dalc_val)
unique_series

very low     1
low          2
very high    3
medium       4
high         5
dtype: int64

In [138]:
data['Dalc_ordinal'] = data['Dalc'].apply(lambda x : unique_series[x])
data['Dalc_ordinal']

0      1
1      1
2      2
3      1
4      1
      ..
390    5
391    4
392    4
393    4
394    4
Name: Dalc_ordinal, Length: 395, dtype: int64

- Walc

In [139]:
unique_Walc_val = data['Walc'].unique()
unique_series = pd.Series(np.arange(1,(len(unique_Walc_val) + 1)),index = unique_Walc_val)
unique_series

very low     1
medium       2
low          3
high         4
very high    5
dtype: int64

In [140]:
data['Walc_ordinal'] = data['Walc'].apply(lambda x : unique_series[x])
data['Walc_ordinal']

0      1
1      1
2      2
3      1
4      3
      ..
390    5
391    4
392    2
393    4
394    2
Name: Walc_ordinal, Length: 395, dtype: int64

- health

In [141]:
unique_health_val = data['health'].unique()
unique_series = pd.Series(np.arange(1,(len(unique_health_val) + 1)),index = unique_health_val)
unique_series

good         1
excellent    2
very bad     3
bad          4
very good    5
dtype: int64

In [142]:
data['health_ordinal'] = data['health'].apply(lambda x : unique_series[x])
data['health_ordinal']

0      1
1      1
2      1
3      2
4      2
      ..
390    5
391    4
392    1
393    2
394    2
Name: health_ordinal, Length: 395, dtype: int64

 ## c) create a new column named age_category whose values should be based on the values in the age column, divide the values into 3 ordinal numbers; 1 – 15 to 17, 2 – 18 to 20, 3 – 21 and over

In [143]:
''' unique_age_val store the unique continue ages'''
unique_age_val = data['age'].unique()
unique_age_val

array([18, 17, 15, 16, 19, 22, 20, 21])

In [144]:
'''Based on the unique_age_val values 4 bins are created and 3 corresponding labels are created. The labels are related to the age group bins in the following ways :
1 : 15 - 17
2 : 18 - 20
3 : 21 and above
'''
data['age_category'] = pd.cut(data['age'], bins=[15,18,21,22], labels=[1,2,3], right=False)
data['age_category']

0      2
1      1
2      1
3      1
4      1
      ..
390    2
391    1
392    3
393    2
394    2
Name: age_category, Length: 395, dtype: category
Categories (3, int64): [1 < 2 < 3]

## d) create a new column named passed (yes or no) whose values should be based on the values present in the G3 column (>=8 – yes, <8 – no)

In [145]:
data['passed'] = data['G3'].apply(lambda x : 'yes' if x>=8 else 'no')
data['passed']

0       no
1       no
2      yes
3      yes
4      yes
      ...
390    yes
391    yes
392     no
393    yes
394    yes
Name: passed, Length: 395, dtype: object