Write code to transform variables according to the following guidelines:

a) school, sex, address, famsize, Pstatus, schoolsup, famsup, paid, activities, nursery, higher, internet and romantic into binary; 0 or 1 (create new columns without overwriting the existing ones)

In [1]:
import pandas as pd
import numpy as mp

In [2]:
data = pd.read_csv('student.csv')
data.head(3)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,higher education,higher education,at_home,teacher,...,very good,medium,high,very low,very low,good,6,5,6,6
1,GP,F,17,U,GT3,T,primary education (4th grade),primary education (4th grade),at_home,other,...,excellent,medium,medium,very low,very low,good,4,5,5,6
2,GP,F,15,U,LE3,T,primary education (4th grade),primary education (4th grade),at_home,other,...,very good,medium,low,low,medium,good,10,7,8,10

In [3]:
data['school_binary'] = data['school'].apply(lambda x : 0 if x =='GP' else 1 )
data['school_binary']

0      0
1      0
2      0
3      0
4      0
      ..
390    1
391    1
392    1
393    1
394    1
Name: school_binary, Length: 395, dtype: int64

In [4]:
data['sex_binary'] = data['sex'].apply(lambda x : 0 if x =='F' else 1 )
data['sex_binary']

0      0
1      0
2      0
3      0
4      0
      ..
390    1
391    1
392    1
393    1
394    1
Name: sex_binary, Length: 395, dtype: int64

In [5]:
data['address_binary'] = data['address'].apply(lambda x : 0 if x =='U' else 1 )
data['address_binary']

0      0
1      0
2      0
3      0
4      0
      ..
390    0
391    0
392    1
393    1
394    0
Name: address_binary, Length: 395, dtype: int64

In [6]:
data['famsize_binary'] = data['famsize'].apply(lambda x : 0 if x =='GT3' else 1 )
data['famsize_binary']

0      0
1      0
2      1
3      0
4      0
      ..
390    1
391    1
392    0
393    1
394    1
Name: famsize_binary, Length: 395, dtype: int64

In [7]:
data['Pstatus_binary'] = data['Pstatus'].apply(lambda x : 0 if x =='T' else 1 )
data['Pstatus_binary']

0      1
1      0
2      0
3      0
4      0
      ..
390    1
391    0
392    0
393    0
394    0
Name: Pstatus_binary, Length: 395, dtype: int64

In [8]:
data['schoolsup_binary'] = data['schoolsup'].apply(lambda x : 0 if x =='yes' else 1 )
data['schoolsup_binary']

0      0
1      1
2      0
3      1
4      1
      ..
390    1
391    1
392    1
393    1
394    1
Name: schoolsup_binary, Length: 395, dtype: int64

In [9]:
data['famsup_binary'] = data['famsup'].apply(lambda x : 0 if x =='yes' else 1 )
data['famsup_binary']

0      1
1      0
2      1
3      0
4      0
      ..
390    0
391    1
392    1
393    1
394    1
Name: famsup_binary, Length: 395, dtype: int64

In [10]:
data['paid_binary'] = data['paid'].apply(lambda x : 0 if x =='yes' else 1 )
data['paid_binary']

0      1
1      1
2      0
3      0
4      0
      ..
390    0
391    1
392    1
393    1
394    1
Name: paid_binary, Length: 395, dtype: int64

In [11]:
data['activities_binary'] = data['activities'].apply(lambda x : 0 if x =='yes' else 1 )
data['activities_binary']

0      1
1      1
2      1
3      0
4      1
      ..
390    1
391    1
392    1
393    1
394    1
Name: activities_binary, Length: 395, dtype: int64

In [12]:
data['nursery_binary'] = data['nursery'].apply(lambda x : 0 if x =='yes' else 1 )
data['nursery_binary']

0      0
1      1
2      0
3      0
4      0
      ..
390    0
391    1
392    1
393    1
394    0
Name: nursery_binary, Length: 395, dtype: int64

In [13]:
data['higher_binary'] = data['higher'].apply(lambda x : 0 if x =='yes' else 1 )
data['higher_binary']

0      0
1      0
2      0
3      0
4      0
      ..
390    0
391    0
392    0
393    0
394    0
Name: higher_binary, Length: 395, dtype: int64

In [14]:
data['internet_binary'] = data['internet'].apply(lambda x : 0 if x =='yes' else 1 )
data['internet_binary']

0      1
1      0
2      0
3      0
4      1
      ..
390    1
391    0
392    1
393    0
394    0
Name: internet_binary, Length: 395, dtype: int64

In [15]:
data['romantic_binary'] = data['romantic'].apply(lambda x : 0 if x =='yes' else 1 )
data['romantic_binary']

0      1
1      1
2      1
3      0
4      1
      ..
390    1
391    1
392    1
393    1
394    1
Name: romantic_binary, Length: 395, dtype: int64