## 1. Data Understanding

#### Understand what your data resources are and what the characteristics of those resources are. Write down your findings including the characteristics of the different columns in the dataset.

In [ ]:
import pandas as pd
import numpy as np

In [2]:
data_horse_asses = pd.read_csv('horseasses-population-in-nepal-by-district.csv')
data_horse_asses.count()

DISTRICT        60
Horses/Asses    60
dtype: int64

In [5]:
data_milk = pd.read_csv('milk-animals-and-milk-production-in-nepal-by-district.csv')
data_milk.count()

DISTRICT                  96
MILKING  COWS NO.         96
MILKING  BUFFALOES NO.    96
COW MILK                  96
BUFF MILK                 96
TOTAL MILK PRODUCED       95
dtype: int64

In [6]:
data_meat = pd.read_csv('net-meat-production-in-nepal-by-district.csv')
data_meat.count()

DISTRICT      96
BUFF          96
MUTTON        96
CHEVON        96
PORK          96
CHICKEN       96
DUCK MEAT     96
TOTAL MEAT    96
dtype: int64

In [3]:
data_cotton = pd.read_csv('production-of-cotton-in-nepal-by-district.csv')
data_cotton.count()

DISTRICT       4
AREA (Ha.)     4
PROD. (Mt.)    4
YIELD Kg/Ha    4
dtype: int64

In [7]:
data_egg = pd.read_csv('production-of-egg-in-nepal-by-district.csv')
data_egg.count()

DISTRICT       96
LAYING HEN     96
LAYING DUCK    96
HEN EGG        96
DUCK EGG       96
TOTAL EGG      96
dtype: int64

In [8]:
data_rabbit = pd.read_csv('rabbit-population-in-nepal-by-district.csv')
data_rabbit.count()

DISTRICT    55
Rabbit      55
dtype: int64

In [9]:
data_wool = pd.read_csv('wool-production-in-nepal-by-district.csv')
data_wool.count()

DISTRICT               96
SHEEPS NO.             96
SHEEP WOOL PRODUCED    96
dtype: int64

In [10]:
data_yak = pd.read_csv('yak-nak-chauri-population-in-nepal-by-district.csv')
data_yak.count()

DISTRICT          35
YAK/NAK/CHAURI    35
dtype: int64