
## 2. Data Merging and Cleaning

#### - Read all the data sources and merge them into a single data source. Do necessary data cleaning and pre-processing.

In [95]:
import pandas as pd
import numpy as np

In [96]:
data_horse_asses = pd.read_csv('horseasses-population-in-nepal-by-district.csv')
data_milk = pd.read_csv('milk-animals-and-milk-production-in-nepal-by-district.csv')
data_meat = pd.read_csv('net-meat-production-in-nepal-by-district.csv')
data_cotton = pd.read_csv('production-of-cotton-in-nepal-by-district.csv')
data_egg = pd.read_csv('production-of-egg-in-nepal-by-district.csv')
data_rabbit = pd.read_csv('rabbit-population-in-nepal-by-district.csv')
data_wool = pd.read_csv('wool-production-in-nepal-by-district.csv')
data_yak = pd.read_csv('yak-nak-chauri-population-in-nepal-by-district.csv')

In [97]:
print('data_horse_asses ', len(data_horse_asses))
print('data_milk ', len(data_milk))
print('data_meat ', len(data_meat))
print('data_cotton ', len(data_cotton))
print('data_egg ', len(data_egg))
print('data_rabbit ', len(data_rabbit))
print('data_wool ', len(data_wool))
print('data_yak ', len(data_yak))

data_horse_asses  60
data_milk  96
data_meat  96
data_cotton  4
data_egg  96
data_rabbit  55
data_wool  96
data_yak  35

#### MERGE

In [98]:
data_cotton_horse = data_cotton.merge(data_horse_asses, on = 'DISTRICT', how = 'outer')
data_cotton_horse_milk = data_cotton_horse.merge(data_milk, on = 'DISTRICT', how = 'outer')
data_cotton_horse_milk_meat = data_cotton_horse_milk.merge(data_meat, on = 'DISTRICT', how = 'outer')
data_cotton_horse_milk_meat_cotton = data_cotton_horse_milk_meat.merge(data_cotton, on = 'DISTRICT', how = 'outer')
data_cotton_horse_milk_meat_cotton_egg = data_cotton_horse_milk_meat_cotton.merge(data_egg, on = 'DISTRICT', how = 'outer')
data_cotton_horse_milk_meat_cotton_egg_rabbit = data_cotton_horse_milk_meat_cotton_egg.merge(data_rabbit, on = 'DISTRICT', how = 'outer')
data_cotton_horse_milk_meat_cotton_egg_rabbit_wool = data_cotton_horse_milk_meat_cotton_egg_rabbit.merge(data_wool, on = 'DISTRICT', how = 'outer')
data_merge = data_cotton_horse_milk_meat_cotton_egg_rabbit_wool.merge(data_yak, on = 'DISTRICT', how = 'outer')

In [99]:
data_merge

,DISTRICT,AREA (Ha.)_x,PROD. (Mt.)_x,YIELD Kg/Ha_x,Horses/Asses,MILKING COWS NO.,MILKING BUFFALOES NO.,COW MILK,BUFF MILK,TOTAL MILK PRODUCED,...,YIELD Kg/Ha_y,LAYING HEN,LAYING DUCK,HEN EGG,DUCK EGG,TOTAL EGG,Rabbit,SHEEPS NO.,SHEEP WOOL PRODUCED,YAK/NAK/CHAURI
0,Dang,106.0,74.0,700.0,NaN,NaN,NaN,NaN,NaN,NaN,...,700.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Banke,27.0,41.0,1519.0,NaN,NaN,NaN,NaN,NaN,NaN,...,1519.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Bardiya,10.0,12.0,1200.0,NaN,NaN,NaN,NaN,NaN,NaN,...,1200.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NEPAL,143.0,127.0,890.0,NaN,1026135.0,1355384.0,643806.0,1210441.0,NaN,...,890.0,12353515.0,180927.0,1294166.0,13906.0,1308072.0,NaN,800658.0,588348.0,NaN
4,TAPLEJUNG,NaN,NaN,NaN,543.0,8123.0,4987.0,5389.0,4257.0,9645.0,...,NaN,15366.0,341.0,2420.0,25.0,2445.0,506.0,5777.0,3519.0,3465.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103,KANCHANPUR,NaN,NaN,NaN,NaN,20164.0,27812.0,23146.0,25876.0,49022.0,...,NaN,186108.0,1932.0,13483.0,155.0,13638.0,NaN,7953.0,5909.0,NaN
104,FW.TERAI,NaN,NaN,NaN,NaN,47922.0,68915.0,51051.0,62553.0,113604.0,...,NaN,463517.8,5350.0,30411.0,430.0,30841.0,NaN,29220.0,21710.0,NaN
105,FW. REGION,NaN,NaN,NaN,NaN,130595.0,132257.0,87936.0,112438.0,200374.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,SANKHUWASABHA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107,RAMECHHAP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,74.0,NaN,NaN,NaN

#### CLEAN

In [100]:

'''delete a row containing DISTRICT as Total'''
data_merge.loc[data_merge['DISTRICT'] == 'Total']
data_merge = data_merge.drop(data_merge.index[63])

In [101]:
'''Convert all district names to uppercase'''
data_merge['DISTRICT'] = data_merge['DISTRICT'].str.upper()

In [102]:
data_merge

,DISTRICT,AREA (Ha.)_x,PROD. (Mt.)_x,YIELD Kg/Ha_x,Horses/Asses,MILKING COWS NO.,MILKING BUFFALOES NO.,COW MILK,BUFF MILK,TOTAL MILK PRODUCED,...,YIELD Kg/Ha_y,LAYING HEN,LAYING DUCK,HEN EGG,DUCK EGG,TOTAL EGG,Rabbit,SHEEPS NO.,SHEEP WOOL PRODUCED,YAK/NAK/CHAURI
0,DANG,106.0,74.0,700.0,NaN,NaN,NaN,NaN,NaN,NaN,...,700.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BANKE,27.0,41.0,1519.0,NaN,NaN,NaN,NaN,NaN,NaN,...,1519.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BARDIYA,10.0,12.0,1200.0,NaN,NaN,NaN,NaN,NaN,NaN,...,1200.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NEPAL,143.0,127.0,890.0,NaN,1026135.0,1355384.0,643806.0,1210441.0,NaN,...,890.0,12353515.0,180927.0,1294166.0,13906.0,1308072.0,NaN,800658.0,588348.0,NaN
4,TAPLEJUNG,NaN,NaN,NaN,543.0,8123.0,4987.0,5389.0,4257.0,9645.0,...,NaN,15366.0,341.0,2420.0,25.0,2445.0,506.0,5777.0,3519.0,3465.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103,KANCHANPUR,NaN,NaN,NaN,NaN,20164.0,27812.0,23146.0,25876.0,49022.0,...,NaN,186108.0,1932.0,13483.0,155.0,13638.0,NaN,7953.0,5909.0,NaN
104,FW.TERAI,NaN,NaN,NaN,NaN,47922.0,68915.0,51051.0,62553.0,113604.0,...,NaN,463517.8,5350.0,30411.0,430.0,30841.0,NaN,29220.0,21710.0,NaN
105,FW. REGION,NaN,NaN,NaN,NaN,130595.0,132257.0,87936.0,112438.0,200374.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,SANKHUWASABHA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107,RAMECHHAP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,74.0,NaN,NaN,NaN