
## 2. Data Merging and Cleaning

#### - Read all the data sources and merge them into a single data source. Do necessary data cleaning and pre-processing.

In [179]:
import pandas as pd
import numpy as np

In [180]:
data_horse_asses = pd.read_csv('horseasses-population-in-nepal-by-district.csv')
data_milk = pd.read_csv('milk-animals-and-milk-production-in-nepal-by-district.csv')
data_meat = pd.read_csv('net-meat-production-in-nepal-by-district.csv')
data_cotton = pd.read_csv('production-of-cotton-in-nepal-by-district.csv')
data_egg = pd.read_csv('production-of-egg-in-nepal-by-district.csv')
data_rabbit = pd.read_csv('rabbit-population-in-nepal-by-district.csv')
data_wool = pd.read_csv('wool-production-in-nepal-by-district.csv')
data_yak = pd.read_csv('yak-nak-chauri-population-in-nepal-by-district.csv')

In [181]:
print('data_horse_asses ', len(data_horse_asses))
print('data_milk ', len(data_milk))
print('data_meat ', len(data_meat))
print('data_cotton ', len(data_cotton))
print('data_egg ', len(data_egg))
print('data_rabbit ', len(data_rabbit))
print('data_wool ', len(data_wool))
print('data_yak ', len(data_yak))

data_horse_asses  60
data_milk  96
data_meat  96
data_cotton  4
data_egg  96
data_rabbit  55
data_wool  96
data_yak  35

In [182]:
data_horse_asses['DISTRICT'] = data_horse_asses['DISTRICT'].str.upper()
data_milk['DISTRICT'] = data_milk['DISTRICT'].str.upper()
data_meat['DISTRICT'] = data_meat['DISTRICT'].str.upper()
data_cotton['DISTRICT'] = data_cotton['DISTRICT'].str.upper()
data_egg['DISTRICT'] = data_egg['DISTRICT'].str.upper()
data_rabbit['DISTRICT'] = data_rabbit['DISTRICT'].str.upper()
data_wool['DISTRICT'] = data_wool['DISTRICT'].str.upper()
data_yak['DISTRICT'] = data_yak['DISTRICT'].str.upper()

#### MERGE

In [183]:
data_cotton_horse = data_cotton.merge(data_horse_asses, on = 'DISTRICT', how = 'outer')
data_cotton_horse_milk = data_cotton_horse.merge(data_milk, on = 'DISTRICT', how = 'outer')
data_cotton_horse_milk_meat = data_cotton_horse_milk.merge(data_meat, on = 'DISTRICT', how = 'outer')
data_cotton_horse_milk_meat_egg = data_cotton_horse_milk_meat.merge(data_egg, on = 'DISTRICT', how = 'outer')
data_cotton_horse_milk_meat_egg_rabbit = data_cotton_horse_milk_meat_egg.merge(data_rabbit, on = 'DISTRICT', how = 'outer')
data_cotton_horse_milk_meat_egg_rabbit_wool = data_cotton_horse_milk_meat_egg_rabbit.merge(data_wool, on = 'DISTRICT', how = 'outer')
data_merge = data_cotton_horse_milk_meat_egg_rabbit_wool.merge(data_yak, on = 'DISTRICT', how = 'outer')

In [184]:
data_merge

,DISTRICT,AREA (Ha.),PROD. (Mt.),YIELD Kg/Ha,Horses/Asses,MILKING COWS NO.,MILKING BUFFALOES NO.,COW MILK,BUFF MILK,TOTAL MILK PRODUCED,...,TOTAL MEAT,LAYING HEN,LAYING DUCK,HEN EGG,DUCK EGG,TOTAL EGG,Rabbit,SHEEPS NO.,SHEEP WOOL PRODUCED,YAK/NAK/CHAURI
0,DANG,106.0,74.0,700.0,317.0,18630.0,31882.0,9984.0,18043.0,28027.0,...,9261.0,411349.0,3223.0,54787.0,260.0,55047.0,NaN,34091.0,25329.0,NaN
1,BANKE,27.0,41.0,1519.0,3963.0,14060.0,36201.0,8956.0,31062.0,40018.0,...,6356.0,194508.0,858.0,13063.0,65.0,13128.0,NaN,11609.0,8625.0,NaN
2,BARDIYA,10.0,12.0,1200.0,559.0,15932.0,27931.0,10792.0,27784.0,38576.0,...,6283.0,123536.0,1214.0,15457.0,92.0,15549.0,NaN,13025.0,9677.0,NaN
3,NEPAL,143.0,127.0,890.0,NaN,1026135.0,1355384.0,643806.0,1210441.0,NaN,...,322059.0,12353515.0,180927.0,1294166.0,13906.0,1308072.0,NaN,800658.0,588348.0,NaN
4,TAPLEJUNG,NaN,NaN,NaN,543.0,8123.0,4987.0,5389.0,4257.0,9645.0,...,1744.0,15366.0,341.0,2420.0,25.0,2445.0,506.0,5777.0,3519.0,3465.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,KANCHANPUR,NaN,NaN,NaN,NaN,20164.0,27812.0,23146.0,25876.0,49022.0,...,6140.0,186108.0,1932.0,13483.0,155.0,13638.0,NaN,7953.0,5909.0,NaN
101,FW.TERAI,NaN,NaN,NaN,NaN,47922.0,68915.0,51051.0,62553.0,113604.0,...,15429.0,463517.8,5350.0,30411.0,430.0,30841.0,NaN,29220.0,21710.0,NaN
102,FW. REGION,NaN,NaN,NaN,NaN,130595.0,132257.0,87936.0,112438.0,200374.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103,SANKHUWASABHA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3457.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104,RAMECHHAP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,74.0,NaN,NaN,NaN

#### CLEAN

In [185]:
'''Convert all district names to uppercase'''
data_merge['DISTRICT'] = data_merge['DISTRICT'].str.upper()

In [186]:
'''delete a row containing DISTRICT as Total'''
data_merge.loc[data_merge['DISTRICT'] == 'TOTAL']

,DISTRICT,AREA (Ha.),PROD. (Mt.),YIELD Kg/Ha,Horses/Asses,MILKING COWS NO.,MILKING BUFFALOES NO.,COW MILK,BUFF MILK,TOTAL MILK PRODUCED,...,TOTAL MEAT,LAYING HEN,LAYING DUCK,HEN EGG,DUCK EGG,TOTAL EGG,Rabbit,SHEEPS NO.,SHEEP WOOL PRODUCED,YAK/NAK/CHAURI
60,TOTAL,NaN,NaN,NaN,55808.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,32213.0,NaN,NaN,68831.0

In [187]:
data_merge = data_merge.drop(data_merge.index[63])

In [188]:
'''delete a row containing DISTRICT as Nepal'''
data_merge.loc[data_merge['DISTRICT'] == 'NEPAL']

,DISTRICT,AREA (Ha.),PROD. (Mt.),YIELD Kg/Ha,Horses/Asses,MILKING COWS NO.,MILKING BUFFALOES NO.,COW MILK,BUFF MILK,TOTAL MILK PRODUCED,...,TOTAL MEAT,LAYING HEN,LAYING DUCK,HEN EGG,DUCK EGG,TOTAL EGG,Rabbit,SHEEPS NO.,SHEEP WOOL PRODUCED,YAK/NAK/CHAURI
3,NEPAL,143.0,127.0,890.0,NaN,1026135.0,1355384.0,643806.0,1210441.0,NaN,...,322059.0,12353515.0,180927.0,1294166.0,13906.0,1308072.0,NaN,800658.0,588348.0,NaN

In [189]:
data_merge = data_merge.drop(data_merge.index[3])

In [190]:
'''Drop the columns containing sum of other columns'''
data_merge = data_merge.drop(['TOTAL MILK PRODUCED', 'TOTAL MEAT', 'TOTAL EGG',], axis= 1)

In [194]:
data_merge

,DISTRICT,AREA (Ha.),PROD. (Mt.),YIELD Kg/Ha,Horses/Asses,MILKING COWS NO.,MILKING BUFFALOES NO.,COW MILK,BUFF MILK,BUFF,...,CHICKEN,DUCK MEAT,LAYING HEN,LAYING DUCK,HEN EGG,DUCK EGG,Rabbit,SHEEPS NO.,SHEEP WOOL PRODUCED,YAK/NAK/CHAURI
0,DANG,106.0,74.0,700.0,317.0,18630.0,31882.0,9984.0,18043.0,3507.0,...,1604.0,4.0,411349.0,3223.0,54787.0,260.0,NaN,34091.0,25329.0,NaN
1,BANKE,27.0,41.0,1519.0,3963.0,14060.0,36201.0,8956.0,31062.0,3256.0,...,785.0,1.0,194508.0,858.0,13063.0,65.0,NaN,11609.0,8625.0,NaN
2,BARDIYA,10.0,12.0,1200.0,559.0,15932.0,27931.0,10792.0,27784.0,3405.0,...,474.0,1.0,123536.0,1214.0,15457.0,92.0,NaN,13025.0,9677.0,NaN
4,TAPLEJUNG,NaN,NaN,NaN,543.0,8123.0,4987.0,5389.0,4257.0,607.0,...,172.0,0.0,15366.0,341.0,2420.0,25.0,506.0,5777.0,3519.0,3465.0
5,SANKHUWASHAVA,NaN,NaN,NaN,358.0,15342.0,13367.0,6988.0,10589.0,NaN,...,NaN,NaN,77512.0,465.0,5506.0,34.0,313.0,12181.0,9050.0,3945.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,KANCHANPUR,NaN,NaN,NaN,NaN,20164.0,27812.0,23146.0,25876.0,3816.0,...,1085.0,2.0,186108.0,1932.0,13483.0,155.0,NaN,7953.0,5909.0,NaN
101,FW.TERAI,NaN,NaN,NaN,NaN,47922.0,68915.0,51051.0,62553.0,9778.0,...,2388.0,6.0,463517.8,5350.0,30411.0,430.0,NaN,29220.0,21710.0,NaN
102,FW. REGION,NaN,NaN,NaN,NaN,130595.0,132257.0,87936.0,112438.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103,SANKHUWASABHA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1646.0,...,302.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104,RAMECHHAP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,74.0,NaN,NaN,NaN

In [192]:
data_merge.loc[data_merge['DISTRICT'] == 'DANG']

,DISTRICT,AREA (Ha.),PROD. (Mt.),YIELD Kg/Ha,Horses/Asses,MILKING COWS NO.,MILKING BUFFALOES NO.,COW MILK,BUFF MILK,BUFF,...,CHICKEN,DUCK MEAT,LAYING HEN,LAYING DUCK,HEN EGG,DUCK EGG,Rabbit,SHEEPS NO.,SHEEP WOOL PRODUCED,YAK/NAK/CHAURI
0,DANG,106.0,74.0,700.0,317.0,18630.0,31882.0,9984.0,18043.0,3507.0,...,1604.0,4.0,411349.0,3223.0,54787.0,260.0,NaN,34091.0,25329.0,NaN