In [3]:
import pandas as pd
import numpy as mp

In [6]:
data = pd.read_csv('student.csv')
data.head(3)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,higher education,higher education,at_home,teacher,...,very good,medium,high,very low,very low,good,6,5,6,6
1,GP,F,17,U,GT3,T,primary education (4th grade),primary education (4th grade),at_home,other,...,excellent,medium,medium,very low,very low,good,4,5,5,6
2,GP,F,15,U,LE3,T,primary education (4th grade),primary education (4th grade),at_home,other,...,very good,medium,low,low,medium,good,10,7,8,10

In [12]:
data['school_binary'] = data['school'].apply(lambda x : 0 if x =='GP' else 1 )
data['school_binary']

0      0
1      0
2      0
3      0
4      0
      ..
390    1
391    1
392    1
393    1
394    1
Name: school_binary, Length: 395, dtype: int64

In [13]:
data['sex_binary'] = data['sex'].apply(lambda x : 0 if x =='F' else 1 )
data['sex_binary']

0    0
1    0
2    0
3    0
4    0
5    1
6    1
7    0
8    1
9    1
Name: sex_binary, dtype: int64